<h1>Edit Kitten</h1>

<%= render "form", kitten: @kitten %>

<%= link_to "Show this kitten", @kitten %> |
<%= link_to "Back to kittens", kittens_path %>
<%= button_to "Delete kitten", kitten_path(@kitten),
              method: :delete,
              data: { turbo_confirm: 'Are you sure you want to delete the cuteness?' %>
              